// Add your own styles here

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url("http://themes.googleusercontent.com/static/fonts/raleway/v6/cIFypx4yrWPDz3zOxk7hIQLUuEpTyoUstqEm5AMlJo4.woff") format('woff');
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}
html,
body {
  background-color: #fff;
  height: 100%;
}
html {
  font-size: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.5em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px 0px 5px 0px;
  padding: 0px;
}
h1 {
  padding-bottom: 10px;
}
pre {
  line-height: 200%;
  font-size: 12px;
  background-color: rgba(255,0,0,0.05);
  padding: 20px;
}
.content {
  padding: 30px;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.bad {
  color: #c00;
}
.good {
  color: #2fbb20;
}
.highlight {
  color: #d98a38;
}
