@import "inports/_functional/variables"
@import "inports/_functional/mixins"
@import "imports/fonts"
@import "normalize"

*outline none

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    background-color: #fff;
    height: 100%;
}

html.front, body.front {
    background-color: #fff;
}

html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
	font-size: 14px;
    line-height: 1.5em;
    font-weight: 400;
}

section {
    overflow: auto;
}