	<script src="js/jquery.min.js"></script>
	<script src="js/zepto.min.js"></script>
	<script src="http://localhost:35729/livereload.js"></script>

	<script>

	Zepto(function($){

		$(window).on('scroll', function(e){
			// console.log( $(window).scrollTop() );

			if ( $(window).scrollTop() > 205 ) {
				// $('.hero').css({position: 'fixed', top: '-207px'});
				$('.main-nav').css({backgroundColor: 'rgba(135, 23, 172, 1)', borderBottom: 'solid 1px #000'});

				// background-color: rgba(135, 23, 172, 0.6);
			} else {
				$('.main-nav').css({backgroundColor: 'rgba(135, 23, 172, 0.4)', borderBottom: 'solid 1px rgba(0, 0, 0, 0.5)'});
			}
		})

		$.each($('a'), function(){

			if ( this.href.indexOf('#') > 0 ) {
				var id = this.href.split('/#');

				$(this).on('click', function(e){
					scrollTo(id[1]);
					console.log('sceoll to: ' + id[1]);
					return false;
				});

			}

		});

	});


	function scrollTo(where) {  // SCROLL TO SPECIFIC ELEMENT
	    var offset = 60;

	    if ( $("#" + where).length > 0 ) {
	        $('html, body').animate({
	                scrollTop: $("#" + where).offset().top - offset
	        }, 500 );
	        window.history.pushState(where, false, '#' + where);
	    } else {
	        $('html, body').animate({
                scrollTop: $(where).offset().top - offset
	        }, 500 );
	        window.history.pushState(where, false, '#' + where);
	    }

	}; // END: SCROLL

	</script>

 	</body>
</html>