<nav class="main-nav">
	<img src="img/logo-tiny.png" alt="Tesla.js" class="logo">
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#docs">Docs</a></li>
		<li><a href="https://github.com/teslajs/tesla.js/" target="_blank">Github</a></li>
	</ul>
</nav>