<nav class="main-nav">
	<a href="/"><img src="img/logo-tiny.png" alt="Tesla.js" class="logo"></a>
	<ul>
		{{!-- <li><a href="/">About</a></li> --}}
		<li><a href="/docs">Docs</a></li>
		<li><a href="https://github.com/teslajs/tesla.js/" target="_blank">Github</a></li>
	</ul>
</nav>