radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

box_shadow(horizontal, vertical, blur, spread, opacity)
  -moz-box-shadow: horizontal vertical blur spread rgba(0, 0, 0, opacity)
  -webkit-box-shadow: horizontal vertical blur spread rgba(0, 0, 0, opacity)
  box-shadow: horizontal vertical blur spread rgba(0, 0, 0, opacity)


gradient(color1,color2)
  background-color: color1;
  background: -webkit-gradient(linear, left top, left bottom, from(color1), to(color2));
  background: -moz-linear-gradient(top,  color1, color2);

gradient-horizontal(color1,color2)
  background-color: color1;
  background: -webkit-gradient(linear, left top, right top, from(color1), to(color2));
  background: -moz-linear-gradient(left,  color1, color2);

retina = 'only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx)'