<% include _inc/header %>

<section class="content">
	<h1>Hello!</h1>
	<h3>Welcome to <span class="app-name"><%= title %></span></h3>
</section>

<% include _inc/footer %>

extends layouts/default

block content

  h1 Hello!
  h3 Welcome to&nbsp;
    span.app-name #{title}