*outline none

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

html, body {
    background-color: #fff;
    height: 100%;
}

html {
    font-size: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 5px 0px;
    padding: 0px;
}

h1 {
    padding-bottom: 10px;
}

pre {
    line-height: 200%;
    font-size: 12px;
    background-color: rgba(255, 0, 0, 0.05);
    padding: 20px;
}