@import 'settings'

body
  font(roboto-thin)
  font-size: 13px
  text-align: center
  background-color: #1b2a35
  padding-top: 15%
  color: #FFF

h1.error
  color: #c8c25c
  margin-bottom: -10px
  font-weight: normal
  font-size: 50px

h3.error 
  font(roboto)
  font-weight: normal

h3.error .url
  color: rgba(255, 255, 255, 0.4)