.content {
    padding: 30px;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}



// FORMS
label {
	display: block;
	font-weight: bold;
	margin: 0px 0px 5px 0px;
}


input {
	margin: 0px 0px 10px 0px;
	border: solid 1px #ccc;
	padding 8px;
	color: #777;
}

input:focus {
	border: solid 1px #333;
	color: #333;
}

button {
	display: block;
	padding 10px;
	margin: 0px;
	border: none;
	background-color: #165bbb;
	color: #fff;
}


.bad {
	color: #c00;
}

.good {
	color: #2fbb20;
}

.highlight {
	color: #d98a38;
}


pre {
	line-height: 200%;
	font-size: 12px;
	background-color: rgba(255, 0, 0, 0.05);
	padding: 20px;
}